@font-face {
  font-family: "iconfont";
  /* Project id 4859972 */
  src: url('iconfont.woff2?t=1742208167454') format('woff2'),
    url('iconfont.woff?t=1742208167454') format('woff'),
    url('iconfont.ttf?t=1742208167454') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.right-arrow::before {
  content: "\e620";
  color: white;
}

.left-arrow::before {
  content: "\e78d";
  color: white;
}